/* App Styles - Modularized */
@import './styles/variables.css';
@import './styles/animations.css';
@import './styles/layout.css';
@import './styles/components.css';
@import './styles/messages-core.css';
@import './styles/message-bubbles.css';
@import './styles/message-streaming.css';
@import './styles/reasoning-trace.css';
@import './styles/thinking-indicator.css';
@import './styles/skeleton-loader.css';
@import './styles/narrative-cards.css';
@import './styles/code-block.css';
@import './styles/markdown.css';
@import './styles/welcome.css';
@import './styles/activity.css';
@import './styles/modals.css';
@import './styles/rituals.css';
@import './styles/diff.css';